<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href='/static/css/interface.css'>
</head>
<body>

<h3 class = "Dis">{{SecondDis}}</h3>
<h1 class = "Dis">{{MainDis}}</h1>

    <form action="/" method="POST">
        <div class="ButtonGrid center">

        <input class="button-4" type="submit" name="submit_button" value="7">
        <input class="button-4" type="submit" name="submit_button" value="8">
        <input class="button-4" type="submit" name="submit_button" value="9">
        <input class="button-4" type="submit" name="submit_button" value="/">
        <input class="button-4" type="submit" name="submit_button" value="Del">
        <input class="button-4" type="submit" name="submit_button" value="C">

        <input class="button-4" type="submit" name="submit_button" value="4">
        <input class="button-4" type="submit" name="submit_button" value="5">
        <input class="button-4" type="submit" name="submit_button" value="6">
        <input class="button-4" type="submit" name="submit_button" value="X">
        <input class="button-4" type="submit" name="submit_button" value="(">
        <input class="button-4" type="submit" name="submit_button" value=")">

        <input class="button-4" type="submit" name="submit_button" value="1">
        <input class="button-4" type="submit" name="submit_button" value="2">
        <input class="button-4" type="submit" name="submit_button" value="3">
        <input class="button-4" type="submit" name="submit_button" value="-">
        <input class="button-4" type="submit" name="submit_button" value="x²">
        <input class="button-4" type="submit" name="submit_button" value="√">

        <input class="button-4" type="submit" name="submit_button" value="0">
        <input class="button-4" type="submit" name="submit_button" value=".">
        <input class="add button-4" type="submit" name="submit_button" value="+">
        <input class="equal button-4" type="submit" name="submit_button" value="=">

        </div>
    </form>

</body>
</html>