<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href='/static/css/interface.css'>
</head>
<body>
<h3 class = "Dis"></h3>
<h1 class = "Dis"></h1>

<div class="ButtonGrid center">

    <button id = '7' class="button-4" role="button">7</button>
    <button id = '8' class="button-4" role="button">8</button>
    <button id = '9' class="button-4" role="button">9</button>
    <button id = '/' class="button-4" role="button">/</button>
    <button class="button-4" role="button">Del</button>
    <button class="button-4" role="button">C</button>

    <button id = '4' class="button-4" role="button">4</button>
    <button id = '5' class="button-4" role="button">5</button>
    <button id = '6' class="button-4" role="button">6</button>
    <button id = 'X' class="button-4" role="button">X</button>
    <button class="button-4" role="button">(</button>
    <button class="button-4" role="button">)</button>

    <button id = '1' class="button-4" role="button">1</button>
    <button id = '2' class="button-4" role="button">2</button>
    <button id = '3' class="button-4" role="button">3</button>
    <button class="button-4" role="button">-</button>
    <button class="button-4" role="button">x²</button>
    <button class="button-4" role="button">√</button>

    <button id = '0' class="button-4" role="button">0</button>
    <button class="button-4" role="button">.</button>
    <button class="add button-4" role="button">+</button>
    <button class="equal button-4" role="button">=</button>

</div>

</body>
</html>